body {
  margin: 0;
}

.img1 { background: url('https://bit.ly/3mvWuid'); }
.img2 { background: url('https://bit.ly/3Cvegb4'); }
.img3 { background: url('https://bit.ly/3GDQMDc'); }
.img4 { background: url('https://bit.ly/3brgpsB'); }
.img5 { background: url('https://bit.ly/2ZNcST5'); }
.img6 { background: url('https://bit.ly/31mc347'); }
.img7 { background: url('https://bit.ly/3BzG0da'); }
.img8 { background: url('https://bit.ly/3ByBb42'); }
.img9 { background: url('https://bit.ly/3jQko6s'); }
.img10 { background: url('https://bit.ly/3my3L1h'); }

p {
  display: flex;
  text-transform: uppercase;
  color: white;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

p:nth-child(2) {
  font-size: 2rem;
}

.gallery {
  display: flex;
  height: 100vh;
}

.pic {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
