
.img1 { background: url('https://bit.ly/3mvWuid'); }
.img2 { background: url('https://bit.ly/2ZHJY70'); }
.img3 { background: url('https://bit.ly/3Cvegb4'); }
.img4 { background: url('https://bit.ly/3GDQMDc'); }
.img5 { background: url('https://bit.ly/3brgpsB'); }
.img6 { background: url('https://bit.ly/2ZNcST5'); }
.img7 { background: url('https://bit.ly/31mc347'); }
.img8 { background: url('https://bit.ly/3BzG0da'); }
.img9 { background: url('https://bit.ly/3ByBb42'); }
.img10 { background: url('https://bit.ly/3jQko6s'); }

p {
  text-transform: capitalize;
}
